@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Mynerve";
    src: url(../fonts/Mynerve/Mynerve-Regular.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "ArchitectsDaughter";
    src: url(../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Schoolbell";
    src: url(../fonts/Schoolbell/Schoolbell-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
