@media screen and (max-width: 75rem) {
    html[lang="el"] {
        header#header.site-header nav ul.navbar {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 71.87rem) {
    html[lang="el"] {
        header#header.site-header nav ul.navbar {
            padding-left: 0;
            a {
                padding: 20px 10px;
            }
        }
        section.about article div.heading-section h2.heading-about {
            font-size: 2.3rem;
        }
    }
    section.introduction div.section-container {
        div.heading-section {
            margin-bottom: 50px;
            h1 {
                font-size: 2.2rem;
            }
        }
    }
    section.about article div.styling {
        background-position-x: center;
    }
}

@media screen and (max-width: 65.62rem) {
    html[lang="el"] {
        header#header.site-header nav ul.navbar {
            padding: 0;
            li {
                letter-spacing: initial;

                &:last-child {
                    margin-left: 5px;
                }

                a {
                    padding: 20px 5px;
                }
            }
        }
        section.about article div.heading-section h2.heading-about {
            font-size: 2.2rem;
            letter-spacing: 0.8px;
        }
    }
    header#header.site-header nav ul.navbar {
        padding: 0;
        li {
            letter-spacing: initial;

            &:last-child {
                margin-left: 5px;
            }

            a {
                padding: 20px 10px;
            }
        }
    }
    section.introduction div.section-container div.main-content div.btn-group {
        gap: 20px;
    }

    section.about article div.main-content div.btn-group div.action-btns a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 56.25rem) {
    html[lang="el"] {
        header#header.site-header {
            padding: 10px 10px;
            div.logo {
                max-width: 75px;
            }
        }
    }
    section.introduction div.section-container {
        div.heading-section {
            h1 {
                font-size: 2rem;
            }
        }
    }

    section.skills {
        column-gap: 0px;
        span.style-before,
        span.style-after {
            display: none;
        }
        article.skills,
        article.secondary-skills,
        article.other-skills {
            padding: 10px !important;
        }

        article div.heading3-wrapper {
            min-width: -webkit-fill-available;
        }
    }

    section.about article div.main-content div.btn-group div.action-btns a {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 50rem) {
    html[lang="el"] {
        header#header.site-header nav ul.navbar li a {
            font-size: 0.9rem;
        }
        header#header.site-header nav ul.navbar.mobile li {
            a {
                font-size: 1.2rem;
            }
            div.lang-parent span {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
    html:not([lang="el"]) header#header.site-header nav ul.navbar.mobile li {
        a {
            font-size: 1.2rem;
        }
        div.lang-parent {
            a {
                padding: 20px 15px;
            }
            span {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
    section.introduction {
        padding-top: 130px;
        div.section-container {
            div.heading-section {
                margin-bottom: 20px;
                h1 {
                    font-size: 1.8rem;
                }
            }
        }

        div.main-content {
            row-gap: 50px;
            flex-direction: column;
            div.tilt-container {
                max-width: 300px;
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                figure.image-container {
                    padding: 20px;
                    padding-bottom: 50px;
                }
            }

            div.cloud {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
                position: relative;
                margin-top: 20px;
                font-size: 18px;

                &::before {
                    content: "";
                    position: absolute;
                    top: -49px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 50px 50px 50px;
                    border-color: transparent transparent #a56052 transparent;
                }
                &::after {
                    display: none;
                }
            }
            button {
                grid-column: 1 / 3;
                grid-row: 3 / -1;
                font-size: 20px;
                gap: 20px;
            }

            div.btn-group {
                button {
                    font-size: 16px;
                    height: 60px;
                }
            }
        }
    }

    section.about {
        background-image: linear-gradient(
                45deg,
                hsla(196, 85%, 26%, 0.9) 0%,
                hsla(196, 85%, 26%, 0.9) 11%,
                hsla(196, 85%, 26%, 0.9) 22%,
                hsla(196, 85%, 26%, 0.9) 33%,
                hsla(196, 85%, 26%, 0.9) 44%,
                hsla(196, 85%, 26%, 0.9) 56%,
                hsla(196, 85%, 26%, 0.9) 67%,
                hsla(196, 85%, 26%, 0.9) 78%,
                hsla(196, 85%, 26%, 0.9) 89%,
                hsla(196, 85%, 26%, 0.9) 100%
            ),
            url("../img/bg-about-txt.jpg");
        article {
            div.main-content {
                grid-column: 1 / -1;
            }
            div.styling {
                // display: none;
                grid-column: 1 / -1;
                z-index: -1;
                position: relative;
            }
            div.heading-section {
                h2.heading-about {
                    grid-column: 1 / -1;
                }
            }
        }
    }
    section.skills {
        span.style-before,
        span.style-after {
            display: revert;
        }
        article.skills {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }
        article.secondary-skills {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
        article.other-skills {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }
        div.decor {
            grid-row: 5 / 6;
            max-width: 80vw;
        }
    }
    footer div.footer-content {
        div.top-btn {
            padding-top: 40px;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
        div.legal-links {
            letter-spacing: initial;
            grid-column: 1 / 4;
            justify-self: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 12px;
            grid-row: 2 / 3;
            margin-left: 0;
            margin: 0 10px;
        }

        div.social-media {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            justify-self: center;
            margin-right: 0;
        }
        div.copyright {
            grid-column: 1 / 4;
        }
    }
    html[lang="el"] {
        header#header.site-header {
            padding-right: 2px;
            padding-left: 2px;
            div.logo {
                max-width: 75px;
            }
            nav ul.navbar li {
                &:last-child {
                    margin-left: 3px;
                }

                a {
                    padding: 20px 5px;
                }
            }
        }
    }

    header#header.site-header {
        nav ul.navbar li {
            &:last-child {
                margin-left: 5px;
            }

            a {
                padding: 20px 8px;
            }
        }
    }
    section.about article div.main-content div.btn-group div.action-btns a {
        padding: 10px 40px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 46.87rem) {
    html[lang="el"] {
        header#header.site-header nav ul.navbar {
            li {
                a {
                    padding: 20px 4px;
                }
            }
        }
    }
    header#header.site-header {
        padding: 10px 10px;
        div.logo {
            max-width: 90px;
        }
    }
}

@media screen and (max-width: 45rem) {
    header#header.site-header div.logo {
        max-width: 100px;
    }
    html[lang="el"] {
        header#header.site-header {
            padding-right: 20px;
            padding-left: 20px;
            div.logo {
                max-width: 100px;
            }
        }
    }
    section.introduction div.section-container {
        div.main-content {
            row-gap: 50px;
            padding: 0;
        }
    }

    header#header.site-header {
        nav {
            div.hamburger {
                align-self: flex-end;
                position: relative;
                z-index: 1;
                display: flex;
                height: 6rem;
                justify-content: center;
                align-items: center;
                color: #fff;
                width: 100px;
                transition: all 0.2s;
                cursor: pointer;
                span {
                    display: inline-block;
                    width: 3rem;
                    height: 2px;
                    background-color: rgb(236, 236, 236) !important;
                    color: #fff;
                    position: relative;
                    background-color: transparent;
                    z-index: 3;
                    cursor: pointer;

                    &::before,
                    &::after {
                        display: inline-block;
                        width: 3rem;
                        height: 2px;
                        background-color: rgb(236, 236, 236);
                    }

                    &::before {
                        content: "";
                        top: -0.8rem;
                        position: absolute;
                        transition: all 0.2s;
                    }

                    &::after {
                        content: "";
                        top: 0.8rem;
                        position: absolute;
                        transition: all 0.2s;
                    }
                }

                &.active span {
                    background-color: transparent !important;

                    &::before {
                        top: 0;
                        transform: rotate(135deg);
                    }

                    &::after {
                        top: 0;
                        transform: rotate(-135deg);
                    }
                }
                &:hover:not(.active) span::before {
                    top: -1rem;
                }
                &:hover:not(.active) span::after {
                    top: 1rem;
                }

                &.active:hover span::before {
                    transform: rotate(225deg);
                }
                &.active:hover span::after {
                    transform: rotate(-45deg);
                }
            }
            ul {
                &.mobile {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 2rem;
                    align-items: center;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background-color: #150401;

                    li {
                        display: inline-block;
                    }
                }

                li {
                    display: none;
                }
            }
        }
    }
    section.services {
        div.content-wrap article.services-wrapper {
            min-width: initial !important;
            width: 100%;
        }
    }

    div.privacy-policy {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        div.privacy-content {
            padding: 20px;
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            max-width: revert;
        }
        div.btn-group {
            justify-content: center;
            gap: 30px;
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }
    }

    div.terms-of-use {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        div.terms-content {
            padding: 20px;
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            max-width: revert;
        }
        div.btn-group {
            justify-content: center;
            gap: 30px;
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }
    }
    div.photo-credits {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        div.photo-credits-content {
            padding: 20px;
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            max-width: revert;
        }
        div.btn-group {
            justify-content: center;
            gap: 30px;
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }
    }
}

@media screen and (max-width: 37.5rem) {
    section.introduction {
        padding: 30px;
        padding-top: 130px;
        div.section-container {
            div.heading-section {
                h1 {
                    font-size: 1.6rem;
                }
            }
        }
    }
    section.contact {
        article.container div.contact-info-wrapper div.contact-info-content {
            width: auto;
        }
    }
}
@media screen and (max-width: 35.62rem) {
    section.contact article.container div.contact-info-wrapper {
        div.contact-info-content {
            padding: 60px 40px;
        }
        div.container.form-container {
            padding: 40px 40px;
        }
    }
}
@media screen and (max-width: 31.25rem) {
    body section > div > h2 {
        font-size: 1.6rem;
    }
    section.introduction div.section-container div.main-content div.btn-group button {
        white-space: initial !important;
    }
    section.about {
        article {
            div.heading-section h2.heading-about {
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }

        div.action-btns {
            flex-direction: column;
            margin: 50px 10px;
        }
        div.btn-group {
            margin-top: 10px;
            gap: 30px !important;
            div.drawing {
                height: fit-content !important;
                span {
                    display: none;
                }
                span.line-top {
                    display: revert;
                    &::after {
                        height: 80px !important;
                    }
                }
                span.line-bottom {
                    display: revert;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 10px !important;
                        left: 1px !important;
                        transform: translateX(-50%);
                        border: 2px solid #00fff1;

                        width: 10px !important;
                        height: 10px !important;
                        background-color: transparent !important;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
            }
        }
        article div.main-content div.about-content-wrap div.main-text {
            width: 95%;
            max-width: 100%;
            padding: 20px;
        }
    }
    section.skills {
        div.heading-section {
            h2.heading-services {
                font-size: 1.5rem;
            }
        }
        div.heading3-wrapper {
            justify-content: center;
            h3 {
                white-space: initial !important;
                max-width: 100%;
            }
            span.style-before,
            span.style-after {
                display: none;
            }
        }
        article.skills div.skills-box,
        article.secondary-skills div.skills-box,
        article.other-skills div.skills-box {
            div.skill-img-container {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                align-items: center;
                border-radius: 0;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            div.section-heading-4 {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }
            div.skills-text {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
            }
        }
    }
    section.services {
        div.content-wrap {
            padding: 0;
            article.services-wrapper {
                div.heading-area.react {
                    background-image: linear-gradient(rgba(45, 45, 45, 0.8), rgba(45, 45, 45, 0.8)), url("../img/javascript3.png"),
                        url("../img/react2.png");
                    background-size: contain;
                }
                div.heading-area.css {
                    background-image: linear-gradient(rgba(130, 0, 147, 0.8), rgba(130, 0, 147, 0.8)), url("../img/css.png"),
                        url("../img/sass.png");
                    background-size: contain;
                }
            }
        }
    }

    section.portfolio {
        article.content-wrapper h3.portfolio-subheading::before,
        article.content-wrapper h3.portfolio-subheading::after {
            display: none;
        }
        div.heading-section-portfolio h2 {
            font-size: 1.5rem;
        }
    }
    section.contact {
        article.container div.contact-info-wrapper {
            div.container.form-container {
                padding: 40px 20px;
            }
            div.contact-info-content {
                padding: 60px 20px;

                ul.contact-info-list > li.contact-list-item-wrapper:not(.social, .im) {
                    display: flex;
                    flex-wrap: wrap;
                    span.desc {
                        flex: 1 0 auto;
                    }
                }
                li.contact-list-item-wrapper {
                    span.desc:not(span.desc.name)::after {
                        content: ":" !important;
                    }
                }
            }
        }

        div.heading-area h2 {
            font-size: 1.5rem;
        }
    }

    section.contact article.container {
        li.switch button.btn {
            font-size: 1.3rem;
        }
    }

    div.container.form-container .contact-form .btn-group button.button {
        font-size: 1rem;
    }
    section.contact article.container div.contact-info-wrapper {
        max-height: 100%;
    }
}

@media screen and (max-width: 21.87rem) {
    section.about {
        article div.main-content {
            div.about-content-wrap {
                div.main-text {
                    font-size: 1.1rem;
                }
            }

            div.btn-group div.action-btns {
                button {
                    font-size: 1rem;
                }
            }
        }

        article {
            div.heading-section h2.heading-about {
                font-size: 1.5rem;
            }
        }
    }
    section.about article div.main-content div.btn-group div.action-btns a {
        font-size: 1.15rem;
    }

    div.heading3-wrapper {
        max-width: fit-content;
        h3 {
            font-size: 1.3rem;
        }
    }

    section.introduction {
        padding: 10px;
        padding-top: 130px;

        div.section-container div.main-content div.btn-group {
            a {
                font-size: 1rem;
            }
        }
    }

    section.services div.content-wrap article.services-wrapper {
        div.heading-area h3 {
            font-size: 1.2rem;
        }
        h4.list-item-heading {
            margin-bottom: 20px;
        }
        ul li {
            font-size: 1.1rem;
        }
    }

    section.portfolio {
        div.heading-section-portfolio h2 {
            font-size: 1.4rem;
        }
        article.content-wrapper {
            padding: 0 15px 0px 15px;
            div.projects ul.projects-list li {
                font-size: 1.1rem;
            }
        }
    }

    section.contact {
        div.heading-area h2 {
            font-size: 1.4rem;
        }
        article.container div.contact-info-wrapper {
            div.container.form-container {
                padding: 40px 10px;
            }
            div.contact-info-content {
                padding: 60px 10px;
            }
        }
        ul {
            font-size: 1rem;
        }
        div.ReCAPTCHA {
            transform: scale(0.85);
        }
        div.container.form-container .contact-form div.form-group {
            input {
                font-size: 1.1rem;
            }
            input:-webkit-autofill::first-line {
                font-size: 1.1rem;
            }
            textarea {
                font-size: 1.1rem;
            }
        }
    }
    section.skills div.heading-section h2.heading-services {
        font-size: 1.4rem;
    }
    section.services {
        div.heading-section h2 {
            font-size: 1.4rem;
        }
        div.content-wrap article.services-wrapper div.body-content {
            max-width: fit-content;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }

    section.services div.content-wrap article.services-wrapper div.body-content div.card-wrapper {
        align-self: center;
        border-radius: 0px;
    }
    section.services div.content-wrap article.services-wrapper div.body-content div.card-wrapper ul.wp-list {
        margin: 0 5px;
    }

    section.contact article.container div.contact-info-wrapper div.contact-info-content {
        max-width: fit-content;
    }
    li {
        font-size: 1.3rem;
    }
    section.contact article.container div.contact-info-wrapper h3.contact-info-wrapper-heading {
        font-size: 1.3rem;
    }

    div.form-heading h3 {
        font-size: 1.3rem;
    }
    section.contact article.container {
        margin-top: 5vh;
        li.switch button.btn {
            font-size: 1.09rem;
        }
    }

    footer div.footer-content {
        font-size: 1rem;
        div.top-btn {
            max-width: fit-content;
        }
    }
    section.skills {
        span.style-before,
        span.style-after {
            display: none;
        }
        article.skills div.heading3-wrapper {
            justify-content: center;
        }
    }
    section.about article div.main-content div.btn-group div.action-btns a {
        font-size: 1rem;
    }

    div.container.form-container {
        div.form-heading h3 {
            font-size: 1.2rem;
        }
        .contact-form {
            div.form-heading h3 {
                font-size: 1.2rem;
            }
            div.form-group {
                input {
                    &::placeholder {
                        font-size: 1rem;
                    }
                }
                label {
                    font-size: 1.2rem;
                }
            }
            textarea {
                &::placeholder {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 17rem) {
    section.contact div.ReCAPTCHA {
        transform: scale(0.75);
    }
    section.contact article.container div.contact-info-wrapper div.contact-info-content li {
        font-size: 1.2rem;
    }
    section.contact article.container div.contact-info-wrapper ul.contact-info-list li.contact-list-item-wrapper.name {
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 16rem) {
    section.contact div.ReCAPTCHA {
        transform: scale(0.7);
    }
}
