dialog.legal-modal {
    position: fixed;
    backdrop-filter: blur(4px);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background-color: hsla(343, 77%, 15%, 0.59);
    color: #fff;
    outline: none;

    a {
        color: #ffabc8;
        font-weight: 700;
        transition: all 0.2s;

        &:hover {
            color: #cfabff;
        }
    }

    div.parent {
        & > * {
            margin-bottom: 4px;
        }
        h3 {
            margin-bottom: 12px;
        }
        span.bold {
            font-weight: 700;
        }
    }
    div.btn-group {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
            font-size: 1.15rem;
            padding: 0.4em 1em;
            transition: all 0.3s;
            &.accept {
                cursor: pointer;
                text-shadow: 1px 1px 1px #000000;
                background-color: rgb(22, 151, 22);
                border: none;
                color: #fff;
                &:hover {
                    color: #fad6ff;
                    background-color: rgb(3, 189, 3);
                }
            }
            &.decline {
                cursor: pointer;
                text-shadow: 1px 1px 1px #000000;
                background-color: rgb(193, 56, 32);
                border: none;
                color: #fff;
                &:hover {
                    color: #fad6ff;
                    background-color: rgb(208, 31, 0);
                }
            }
            &:active {
                position: relative;
                top: 1px;
            }
        }
    }
    ::selection {
        background-color: #00796f;
    }
}
